/*Настольные компьютеры и ноутбуки*/
@media only screen and (min-width : 1224px) and (max-width : 1824px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 50px auto;
        height: 100%;
    }

    header {
        display: flex;
        grid-column: span 12;
        background-color: cadetblue;
    }

    main {
        grid-column: span 12;
        background-color: orange;
    }

    header > div:nth-child(3) {
        margin-left: auto;
    }
}
