

/*iPhone 4*/
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
}
/*Смартфоны (Портрет и ландшафтный)*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/*Смартфоны (ландшафтный)*/
@media only screen and (min-width : 321px) and (orientation : landscape) {
}

/*Смартфоны (portrait)*/
@media only screen and (max-width : 320px) and (orientation : portrait) {
}

/*iPads (Портрет и Ландшафтный)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/*iPads (Ландшафтный)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/*iPads (Портрет)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/*Настольные компьютеры и ноутбуки*/
@media only screen and (min-width : 1224px) and (max-width : 1824px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 50px auto 50px;
        height: 100%;
    }

    header {
        display: flex;
        grid-column: span 12;
        background-color: cadetblue;
    }

    header > div:nth-child(3) {
        margin-left: auto;
    }

    aside {
        grid-column: span 2;
        background-color: red;
    }

    main {
        grid-column: span 10;
        background-color: orange;
    }

    footer {
        grid-column: span 12;
        background-color: cadetblue;
    }
}

/*Большие экраны*/
@media only screen and (min-width : 1824px) {
}