<div class="grid-container grid-rows-3">
    <header class ="grid-column-12">
        <div class="wrapper">
            @HeaderTemplate
        </div>
    </header>
    <aside class ="grid-column-2">
        @AsideTemplate
    </aside>
    <main class ="grid-column-10">
        @MainTemplate
    </main>
    <footer class ="grid-column-12">
        @FooterTemplate
    </footer>
</div>