<div class="grid-container">
    <header>
        @HeaderTemplate
    </header>
    <aside>
        @AsideTemplate
    </aside>
    <main>
        @MainTemplate
    </main>
    <footer>
        @FooterTemplate
    </footer>
</div>