<div class="grid-container grid-rows-2">
    <header class ="grid-column-12">
        <div class="wrapper header_child">
            @HeaderTemplate
        </div>
    </header>
    <main class ="grid-column-12">
        @MainTemplate
    </main>
</div>