<div class="grid-container">
    <header>
        <div>Home</div>
        <div>Search</div>
        <div>Logout</div>
    </header>
    <aside>MENU</aside>
    <main>CONTENT</main>
    <footer>FOOTER</footer>
</div>