<div>
    <ul>
        @*@MenuTemplate*@
        <li><NavLink href="default.asp">Home</NavLink></li>
        <li><NavLink href="news.asp">About</NavLink></li>
        <li><NavLink href="contact.asp">Services</NavLink></li>
        <li><NavLink href="about.asp">Hire us</NavLink></li>
    </ul>
</div>