<nav class="navbar flex-container flex-space-between flex-center">
    @NavBarLogoTemplate
    
    <div class="flex-container flex-space-between flex-center">
        @NavBarTemplate
    </div>
</nav>